body {

  padding: 20px;
  background-image: url("bucketgolf_scorecard/img/golf_course.jpeg"); 
  background-repeat: no-repeat;
  background-size: cover;

}
td {

	text-align: center;
}
table {

	background-color: white;
}
img {

	width: 100%;
}
